

.container{
    display:grid;
    grid-template-columns: 1fr 3fr;
}

.sidebar-container{
    grid-column: 1 / 2;
    grid-row: 1/3;
}

.header-container{
    grid-column: 2/3;
    grid-row: 1/2;
}

.content-container{
    grid-column: 2/3;
    grid-row: 2/3;
}