* {

    margin: 0;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.container {
    display: grid;
    grid-template-columns: 1fr 4.5fr;
    grid-template-rows: 1fr 7fr;
    height: 100vh;
}

.sidebar-container {
    grid-column: 1 / 2;
    grid-row: 1/3;
    display:grid;
    grid-template-rows: 7fr 3fr;
}

.empty-space{
    background-color: rgb(17, 144, 255);
}

.header-container {
    grid-column: 2/3;
    grid-row: 1/2;
    display: grid;
    padding: 12px;
    padding-bottom: 5px;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 
    0 px 4px -1px rgba(0, 0, 0, 0.06);
}

.header-container > div {
    align-items: center;
    gap: 10px;
}

.content-container {
    grid-column: 2/3;
    grid-row: 2/3;
    background-color: rgb(228, 228, 228);
    padding: 12px;
    padding-top: 0;
}

.sidebar {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.fr 2fr 1fr 3fr;
    background-color: rgb(17, 144, 255);
    gap:50px;
}

.sidebar-title-block{
    display:grid;
    grid-template-columns: 1fr 8fr;
}

.sidebar-upper-block, .sidebar-lower-block {
    display:grid;
    grid-template-columns: 1fr 8fr;
    background-color: rgb(17, 144, 255);
    gap:10px;
    align-items: center;
}

.sidebar>div {
    color: white;
}

.header {
    background-color: white;
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.header-top-row {
    display: grid;
    grid-template-columns: 1fr 12fr 1.5fr 6fr;
}

.header-bottom-row {
    display: grid;
    grid-template-columns: 1fr 7fr 4fr;
}

.content {
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 15px;
}

.projects-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, 1fr);
    gap: 15px;
}

.content-rightside {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
}

.announcements {
    display: grid;
    grid-template-rows: 1fr 6fr;
}

.trending {
    display: grid;
    grid-template-rows: 1fr 7fr;
}

.project-button-container {
    display: grid;
    grid-template-columns: 5fr repeat(3, 1fr);
}

.header-button-container>button {
    background-color: rgb(17, 144, 255);
    color: white;
    border-radius: 30px;
    height: 30px;
    width: 100%;
    border: 0px;
}

.header-button-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0.5em;
    justify-content: space-between;
    padding-bottom: 0;

}

#search-bar{
    background-color: rgb(216, 216, 216);
    border-radius: 30px;
    padding-bottom: 5px;
    margin-top: -5px;
    border: none;
    height: 25px;
}

.sidebar-icon{
    width:2em;
    height: auto;
    padding-left: 10px;
    filter:invert(1);
}

#dash{
    font-size: 18pt;
    align-items: center;
    padding-top: 10px;
    margin-top: 10px;
}

#dash-icon{
    width: 3em;
    padding-left: 6px;
    filter:invert(1);
    margin-top: 10px;
}

#pfp1{
    border-radius: 50;
    width: 45px;
    margin-right: 10px;
}

#pfp2{
    border-radius: 50;
    width: 60px;
}



.project-card{
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    border-left: 7px solid #ffc107;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 1fr 3fr;
}

.announcements-container, .trending-container{
    background-color: white;
    border-radius: 10px;
}

.announcements-container{
    display: grid;
    padding: 15px 15px 0 15px;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
}

.trending-container{
    display: grid;
    padding: 15px 15px 0 15px;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
}

.card-buttons{
    max-width: 25px;
    min-width: 20px;
}

.projects-text, .announcements-text, .trending-text{
    margin: 10px 0 10px 0;
    display: flex;
    align-items: center;
}

#search-button, #notification-bell{
    max-width: 40px;
    min-width: 30px;
}

#notification-bell{
    margin-right: 15px;
    min-width: 30px
}

#profile-picture-top{
    display: flex;
    justify-content: right;
    align-items: flex-end;
}

#user-top{
    display:flex;
    justify-content: right;
    align-items: center;
}

#username-top{
    font-weight: 650;
    font-size: 14pt;
}

.greeting-container > div {
    font-weight: 800;
}

#greeting-text{
    font-size: 12pt;
}

#greeting-name{
    font-size: 18pt;
}

.announcement-body{
    padding-bottom: 10px;
    border-bottom: 1px solid gray;
}

.user{
    display: flex;
    align-items: center;
    justify-content: left;
    grid-template-columns: 3fr 5fr;
}

.user-text{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
}

.trending-pfp{
    width: 50px;
    height: auto;
    border-radius: 50;
    margin-right: 10px;
}

#user-last{
    padding-bottom: 10px;
}

.user-username{
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}