*{
    border: 1px solid red;
}

.container{
    display:grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 5fr;

}

.sidebar-container{
    grid-column: 1 / 2;
    grid-row: 1/3;
}

.header-container{
    grid-column: 2/3;
    grid-row: 1/2;
}

.content-container{
    grid-column: 2/3;
    grid-row: 2/3;
}

.sidebar {
    display:grid;
    grid-template-columns: 1fr 7fr;
    background-color: rgb(17, 144, 255);
    height: 100%;
}

.sidebar > div{
    color:white;
}

.header{
    background-color: white;
    display:grid;
    grid-template-rows: 1fr 1fr;
}

.header-top-row{
    display: grid;
    grid-template-columns: 1fr 15fr 1fr 2fr 4fr;
}

.header-bottom-row{
    display:grid;
    grid-template-columns: 1fr 7fr 4fr
}

.content{
    display: grid;
    grid-template-columns: 3fr 1fr;
    height: 100%;
}

.content-projects{
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, 1fr);
}

.content-rightside{
    grid-template-columns: 100%;
    grid-template-rows: 1fr 1fr;
    height: 100%;
}